html{
  font-size: 1rem;
  height: 100%;
  /* height: 470px; */
}

body{
  height: 100%;
  margin-top:0rem;
  margin-left:auto;
  margin-right: auto;
}

img#floor_map_img{
  width: auto;
  height: 100%;
  align: center;
}

table {
  margin-top: 0.5%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  border-collapse: collapse;
  border-spacing: 1px;
  line-height: 1;
  font-size: 1rem;
  width: 95%;
  table-layout: fixed;
  word-break: break-all;
  word-wrap: break-word;
  font-size: 1vw;
}

h1{
  font-size: 2rem;
  margin-top: 0rem;
  margin-bottom: -1rem;
}

caption{
  color: black;
  font-weight: bold;
}

hr{
  border-color: #000000;
}

th {
  width: auto;
  padding: 1rem;
  font-weight: bold;
  color: #fff;
  vertical-align: top;
  /* background: #464547; */
  text-align: center;
  vertical-align: center;
  border-width: 0px 0px;
}

th#vendor{
  width: 10%;
}
th#course_code{
  width: 10%;
}
th#hoshi{
  width: 5%;
}
th#course_name{
  /* width: 100px; */
}
th#location{
  width: 10%;
}

td{
  /* padding-left: 5px; */
  padding: 1%;
  /* border: solid 1px #000000; */
}

td#hoshi{
  width: 1%;
  text-align: center;
  color: red;
}

tr#top_row{
  background: #4574C4;
}

tr#even {
  background: #D9E1F2;
}

div#reception_header_div{
  background-image: url("../imgs/reception/bg.png");
  height: 150px;
  width: 100%;
  background-repeat: repeat-x;
}

div#reception_footer_div{
  background-image: url("../imgs/reception/bg_50.png");
  height: 150px;
  width: 100%;
  background-repeat: repeat-x;
  vertical-align: bottom;
}

div#table_title{
  width: 95%;
  font-weight: bold;
  color: #26BDEF;
      text-decoration: underline;
  text-align: center;
  margin-right: auto;
  margin-top: -1.5rem;
  margin-bottom: -1.8rem;
}

p#reception_today{
  font-weight: bold;
  font-size: 0.8rem;
  text-align: right;
  margin-right: 2.5%;
  margin-bottom: 0.5%;
}

div#title{
  font-weight: bold;
  color: #26BDEF;
  text-align: center;
  text-decoration: underline;
  margin-bottom: -2%;
}

div#schedule_table{
  /* height: 200px; */
}

div#notice_div{
  margin-top: 0.5%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding: 0.1%;
  /* border: solid 1px; */
  border-collapse: collapse;
  border-spacing: 1px;
  line-height: 1;
  font-size: 1rem;
  /* height: 100px; */
  width: 95%;
  table-layout: fixed;
  word-break: break-all;
  word-wrap: break-word;
  font-size: 1vw;
  background: #EEEEEE;
}

div#floor_map_div{
  text-align: center;
  margin-top: 0.5%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  /* border: solid 1px; */
  border-collapse: collapse;
  border-spacing: 1px;
  line-height: 1;
  font-size: 1rem;
  height: 40%;
  width: auto;
  table-layout: fixed;
  word-break: break-all;
  word-wrap: break-word;
  font-size: 1vw;
}


